/* header */

body {
    font-family: 'Roboto', sans-serif;  
}
.logo-mercado-liebre-header {
    width: 150px;
    margin: 20px;
    padding: 0;
}

.search-box{
    width: 20%;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
}

ul {
    list-style-type: none;
}
li {
    text-decoration: none;
}
.bg-yellow {
    background-color: #EAC926;
}
.bg-light-grey {
    background-color: #ebebeb;
}
.p-1 {
    padding: 8px;
}
.w-1 {
    width: 50%;
}
.burger-menu {
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-section {
    display: flex;
    align-items: flex-end;
}
.nav-section li a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.nav-account {
    display: flex;
    align-items: flex-end;
}
.nav-account li a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
/* main */

.section-title {
    font-size: 24px;
    text-transform: uppercase;
}
.price {
    font-size: 18px;
}
.off {
    font-size: 16px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.vw-90 {
    width: 90vw;
}
.mb-10 {
    margin-bottom: 10px;
}
.bt-1px {
    border-top-style: solid;
    border-top-width: 1px;
}
.border-grey {
    border-color: #ebebeb;
}
.bg-withe {
    background-color: white;
}

.cafetera-moulinex .fa-truck {
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.cafetera-moulinex {
    position: relative;
}

.mac-book .fa-truck {
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.mac-book {
    position: relative;
}

.samsung-galaxy .fa-truck {
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.samsung-galaxy {
    position: relative;
}

.smart-tv .fa-truck {
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.smart-tv {
    position: relative;
}


/* footer */

footer {
    text-align: center;
}
.description {
    font-size: 16px;
    padding: 16px;
}

