<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <p>Aca va la barra de busqueda</p>
        <a href="#"><img class="logo-mercado-liebre-header" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
    </header>
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayudas</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>
                Basado en tu ultima vista
            </h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% Off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
        </section>
    </main>
</body>
</html>