<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-light-grey">
    <header class="fixed bg-yellow p-1"> 
        <div class="nav-main">
            <a href="/"><img class="logo-mercado-liebre-header" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
        <div class="search-nav">
            <form>
                <input class="search-box" type="search" name="search" placeholder="Buscar productos, marcas y mas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <p>Compra en cuotas y sin tarjeta de creditos <i class="fa-solid fa-hand-holding-dollar"></i></p>
        </div>
        <nav class="nav-bar">
            <ul class="nav-section">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudas</a></li>
            </ul>
            <nav class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </nav> 
            <ul class="nav-account"> 
                <li><a href="/register">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i></li>
            </ul>
        </nav> 
    </header>
    <main>
        <form action="/">
            <div class="form-field">
                <div class="id-data">
                    <label for="user-name">
                        Nombre
                        <input type="text" name="user-name" id="user-name" placeholder="Nombre">
                    </label>

                    <label for="user-lastname">
                        Apellido
                        <input type="text" name="user-lastname" id="user-lastname" placeholder="Apellido">
                    </label>
                    
                    <label for="user-password">
                        Contraseña
                        <input type="password" name="user-password" id="user-password" placeholder="Contraseña">
                    </label>

                    <label for="user-password-confirm">
                        Confirmar contraseña
                        <input type="password" name="user-password-confirm" id="user-password-confirm" placeholder="Confirmar contraseña">
                    </label>     
                </div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <i class="icon-bottom fas fa-credit-card"></i>
        <section class="payment-method">
            <h4 class="footer-title payment">Pagá con tarjeta o en efectivo</h4>
            <p class="description pay">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <i class="icon-bottom fas fa-gift"></i>
        <section class="free-delivery">
            <h4 class="footer-title delivery">Envío gratis desde $ 2.500</h4>
            <p class="description deliv">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <i class="icon-bottom fas fa-user-shield"></i>
        <section class="security">
            <h4 class="footer-title secu">Seguridad, de principio a fin</h4>
            <p class="description secur">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <section class="copyright">
            <p class="description copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>